@font-face {
  font-family: FontRegular;
  src: url(/assets/Fonts/sf-pro-display_regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FontRegular;
}

html,
body {
  height: 100%;
  width: 100%;
  border: 1px solid green;
}

#main {
  width: 100%;
  min-height: 100vh;
}

nav {
  /* border: 1px solid red; */
  width: 100%;
  height: 5vh;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav i {
  font-size: 1.2vw;
}

/* part 1 section */
.part-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  /* overflow: hidden; */
  background-position: center;
  background-image: url("assets/hero_iphone15pro__i70z9oz3hj2i_largetall.jpg");
  gap: 30px;
  /* background-image: url(Assets/hero_iphone15pro__i70z9oz3hj2i_largetall.jpg); */
  /* background-position: center; */

  /* background-image: url("assets/hero_iphone15pro__i70z9oz3hj2i_largetall.jpg");
  background-repeat: no-repeat; */
  /* background-color: #333; */
  /* background-image: url(assets/hero_iphone15pro__i70z9oz3hj2i_largetall.jpg);
  background-position: center; */
}

.text-part-1 {
  position: absolute;
  color: #fff;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-part-1 h1 {
  font-size: 3vw;
}

.text-part-1 p {
  font-size: 2vw;
}

.link {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2vw;
}

.link a {
  text-decoration: none;
  color: rgb(26, 141, 242);
  font-size: 1.2vw;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.link a:hover {
  border-bottom: 1px solid rgb(26, 141, 242);
}

/* SECTION 2 */
.part-2 {
  background-image: url("/assets/hero_iphone15_announce__uuemlcwczn6u_largetall.jpg");
}

.text-part-2 {
  color: #333;
}

/* SECTION 3 */

.part-3 {
  background-image: url("./assets/hero_apple_watch_series_9_order__d0fi9mb84dci_mediumtall.jpg");
}

.part-4 {
  width: 100%;
  display: flex;
}

.part-4-1 {
  height: 60vh;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url("./assets/4-1.jpg");
}

.part-4-2 {
  height: 60vh;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url("./assets/4-2.jpg");
}

.part-4 .text-part-1 {
  color: #333;
}

.part-4 .text-part-1 p {
  font-size: 1vw;
}

.slider-part {
  padding: 2vh 0vw;

  width: 100%;
  height: 100vh;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 90%;
  background-position: center;
  background-size: cover;
}

.swiper-1 {
  background-image: url(assets/1.jpg);
}
.swiper-2 {
  background-image: url(assets/2.jpg);
}
.swiper-3 {
  background-image: url(assets/3.jpg);
}
.swiper-4 {
  background-image: url(assets/4.jpg);
}
.swiper-5 {
  background-image: url(assets/5.jpg);
}
.swiper-6 {
  background-image: url(assets/6.jpg);
}
